.profile-details-wrapper {
    margin-top: 3rem;
    padding: 2.5rem;
    background-color: #2F58CD;
    border-radius: 15px;
    box-shadow: 1px 1px 4px 5px #2b2935;
}
.profile-details-img-wrapper {
    background-color: #2F58CD;
}
.profile-details-img-wrapper img {
    box-shadow: 1px 1px 4px 5px #6f91ef;
    border-radius: 15px;
    width: 300px;
}

.profile-details-info {
    margin-top: 1rem;
    background-color: #2F58CD;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-details-info span {
    color: #2F58CD;
}

.profile-details-info p span {
    background-color: #0C134F;
    color: #b2a6a6;
}

.profile-details-heading {
    margin: 5px;
    padding: 10px 30px;
    font-size: 22px;
    background-color: #03001C;
    border-radius: 20px;
    color: #808080;
}

.profile-details-username {
    margin: 3px;
    padding: 10px 30px;
    font-size: 17px;
    background-color: #0C134F;
    border-radius: 20px;
    color: #808080;
}
.profile-details-followers {
    margin: 3px;
    padding: 10px 30px;
    font-size: 17px;
    background-color: #0C134F;
    border-radius: 20px;
    color: #808080;
}
.profile-details-following {
    margin: 3px 3px 0;
    padding: 10px 30px;
    font-size: 17px;
    background-color: #0C134F;
    border-radius: 20px;
    color: #808080;
}