.search-wrapper {
    margin: 0 auto;
    position: relative;
}
.search-wrapper input {   
    font-size: 30px;
    margin-top: 5rem;
    padding: 1rem;
    width: 600px;
    border-radius: 35px;
    text-indent: 60px;
    outline: none;
    color: #808080;
    border: 3px solid #0C134F;
}
.search-icon{
    position: absolute;
    left: 1.5rem;
    top: 6.2rem;
}
