.profile-list-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
}

.profile-wrapper {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    position: relative;
}

#loading {
    position: absolute;
    left: auto;
    top: 20vh;
    font-size: 4rem;
}